.poster {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  overflow: hidden;
  video {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
}

.box {
  width: 200px;
  height: 200px;
  background: firebrick;
  position: relative;
  .subbox {
    width: 100px;
    height: 20px;
    background: rgb(193, 161, 161);
    position: absolute;
    left: 0;
    top: 100px;
  }
}
.bottom-btn {
  display: flex;
  .vbtn {
    width: 200px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      span {
        display: block;
      }
    }
  }
  .left-btn {
    &::before {
      content: "个人免费使用";
      font-size: larger;
      text-align: center;
      letter-spacing: 2px;
    }
    color: rgb(244, 245, 252);
    background: linear-gradient(
      to right,
      rgb(47, 165, 254) 0%,
      rgb(36, 144, 226) 100%
    );
  }
  .ritht-btn {
    &::before {
      content: "企业版咨询";
      font-size: larger;
      text-align: center;
      letter-spacing: 2px;
    }
    color: rgb(48, 48, 48);
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid whitesmoke;
  }
}
.partTop-title {
  background: url(@/assets/img/3d设计平台.webp) no-repeat;
  background-size: cover;
  width: 500px;
  height: 129px;
}

.service {
  background: url(../../assets/img/index/index-bg01.webp) no-repeat;
  background-size: cover;
  .items {
    ul::after {
      content: "";
      flex: auto;
      margin-right: -24px;
    }
    li {
      padding-bottom: 8%;
      position: relative;
      box-shadow: 0px 2px 10px rgba(54, 54, 54, 0.05);
      transition: all 0.3s;
      background: rgba(250, 250, 250, 0.5);
      backdrop-filter: blur(6px);
      border-radius: 8px;
      width: calc(25% - 24px);
      margin-right: 24px;
      margin-bottom: 24px;
      &:hover {
        transform: translate(0px, -5px);
        box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.05);
        background: linear-gradient(
          to right bottom,
          rgba(251, 251, 252, 0.332) 0%,
          rgba(247, 251, 255, 0.922) 100%
        );
      }
      a {
        display: block;
        padding: 20px;
        // position: absolute;
        // inset: 0;
      }
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: justify;
        font-size: 12px;
        color: rgb(105, 105, 105);
        .type-en {
          font-weight: bold;
          margin: 0 2px;
        }
        .icon {
          width: 40px;
          height: 40px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
        }
      }
      &:nth-of-type(1) .icon {
        background-image: url(@/assets/img/index/icon01.png);
      }
      &:nth-of-type(2) .icon {
        background-image: url(@/assets/img/index/icon02.png);
      }
      &:nth-of-type(3) .icon {
        background-image: url(@/assets/img/index/icon03.png);
      }
      &:nth-of-type(4) .icon {
        background-image: url(@/assets/img/index/icon04.png);
      }
      &:nth-of-type(5) .icon {
        background-image: url(@/assets/img/index/icon05.png);
      }
      &:nth-of-type(6) .icon {
        background-image: url(@/assets/img/index/icon06.png);
      }
      &:nth-of-type(7) .icon {
        background-image: url(@/assets/img/index/icon07.png);
      }
      .title {
        margin: 10px 0;
        font-size: 24px;
        color: rgb(92, 92, 92);
        // white-space: nowrap;
        // font-weight: bold;
      }
      .desc {
        font-size: 14px;
        color: rgb(105, 105, 105);
        letter-spacing: 1px;
      }
      &:hover .bottom {
        color: rgb(89, 93, 221);
      }
      .bottom {
        position: absolute;
        bottom: 0;
        margin: 10px 0;
        color: rgb(90, 90, 90);
      }
    }
  }
}

@media (max-width: 1024px) {
  .service-contnet{
    width: 96%;
  }
  .service {
    .items {
      li {
        width: calc(33% - 24px);
      }
    }
  }
}
@media (max-width: 768px) {
  
  .service {
    .items {
      li {
        width: calc(50% - 24px);
      }
    }
  }
}
@media (max-width: 480px) {
  .service {
    .items {
      li {
        width: calc(100% - 24px);
      }
    }
  }
}